In [58]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [60]:
df = pd.read_csv('D:/Sem 3/Hemlata Maam/Credit card Data/CC_data.csv')
df.head()

,Male,Age,Debt,Married,BankCustomer,EducationLevel,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,Approved
0,b,30.83,0.000,u,g,w,v,1.25,t,t,1,f,g,202,0,+
1,a,58.67,4.460,u,g,q,h,3.04,t,t,6,f,g,43,560,+
2,a,24.5,0.500,u,g,q,h,1.50,t,f,0,f,g,280,824,+
3,b,27.83,1.540,u,g,w,v,3.75,t,t,5,t,g,100,3,+
4,b,20.17,5.625,u,g,w,v,1.71,t,f,0,f,s,120,0,+

In [61]:
df.dtypes

Male               object
Age                object
Debt              float64
Married            object
BankCustomer       object
EducationLevel     object
Ethnicity          object
YearsEmployed     float64
PriorDefault       object
Employed           object
CreditScore         int64
DriversLicense     object
Citizen            object
ZipCode            object
Income              int64
Approved           object
dtype: object

In [62]:
# checking the null values in the data set & print them in an ascending order
df.isnull().sum().sort_values(ascending=False)

Approved          0
Income            0
ZipCode           0
Citizen           0
DriversLicense    0
CreditScore       0
Employed          0
PriorDefault      0
YearsEmployed     0
Ethnicity         0
EducationLevel    0
BankCustomer      0
Married           0
Debt              0
Age               0
Male              0
dtype: int64

In [63]:
count = df['ZipCode'].value_counts() 
print(count)

0       132
120      35
200      35
160      34
80       30
100      30
280      22
180      18
140      16
320      14
240      14
?        13
300      13
260      11
60        9
220       9
400       9
340       7
360       7
380       5
40        4
520       4
144       4
132       4
440       4
70        4
232       4
108       4
420       4
96        3
       ...
760       1
254       1
62        1
29        1
410       1
411       1
102       1
349       1
212       1
329       1
204       1
450       1
375       1
30        1
156       1
369       1
263       1
93        1
56        1
170       1
178       1
550       1
371       1
454       1
523       1
1160      1
383       1
167       1
487       1
202       1
Name: ZipCode, Length: 171, dtype: int64

In [6]:
# Replacing categorial data to integer. lengthy process- use label encoder
mapping = {'a': 0, 'b': 1, 'p': 0, 'g': 1, 't': 0, 'f': 1, 's': 1, 'u': 0, 'y': 1}
df.replace({'Male': mapping, 'DriversLicense': mapping, 'BankCustomer': mapping, 'PriorDefault': mapping, 'Employed': mapping, 'Citizen': mapping, 'Married': mapping})

,Male,Age,Debt,Married,BankCustomer,EducationLevel,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,Approved
0,1,30.83,0.000,0,1,w,v,1.250,0,0,1,1,1,202,0,+
1,0,58.67,4.460,0,1,q,h,3.040,0,0,6,1,1,43,560,+
2,0,24.5,0.500,0,1,q,h,1.500,0,1,0,1,1,280,824,+
3,1,27.83,1.540,0,1,w,v,3.750,0,0,5,0,1,100,3,+
4,1,20.17,5.625,0,1,w,v,1.710,0,1,0,1,1,120,0,+
5,1,32.08,4.000,0,1,m,v,2.500,0,1,0,0,1,360,0,+
6,1,33.17,1.040,0,1,r,h,6.500,0,1,0,0,1,164,31285,+
7,0,22.92,11.585,0,1,cc,v,0.040,0,1,0,1,1,80,1349,+
8,1,54.42,0.500,1,0,k,h,3.960,0,1,0,1,1,180,314,+
9,1,42.5,4.915,1,0,w,v,3.165,0,1,0,0,1,52,1442,+
10,1,22.08,0.830,0,1,c,h,2.165,1,1,0,0,1,128,0,+
11,1,29.92,1.835,0,1,c,h,4.335,0,1,0,1,1,260,200,+
12,0,38.25,6.000,0,1,k,v,1.000,0,1,0,0,1,0,0,+
13,1,48.08,6.040,0,1,k,v,0.040,1,1,0,1,1,0,2690,+
14,0,45.83,10.500,0,1,q,v,5.000,0,0,7,0,1,0,0,+
15,1,36.67,4.415,1,0,k,v,0.250,0,0,10,0,1,320,0,+
16,1,28.25,0.875,0,1,m,v,0.960,0,0,3,0,1,396,0,+
17,0,23.25,5.875,0,1,q,v,3.170,0,0,10,1,1,120,245,+
18,1,21.83,0.250,0,1,d,h,0.665,0,1,0,0,1,0,0,+
19,0,19.17,8.585,0,1,cc,h,0.750,0,0,7,1,1,96,0,+
20,1,25,11.250,0,1,c,v,2.500,0,0,17,1,1,200,1208,+
21,1,23.25,1.000,0,1,c,v,0.835,0,1,0,1,1,300,0,+
22,0,47.75,8.000,0,1,c,v,7.875,0,0,6,0,1,0,1260,+
23,0,27.42,14.500,0,1,x,h,3.085,0,0,1,1,1,120,11,+
24,0,41.17,6.500,0,1,q,v,0.500,0,0,3,0,1,145,0,+
25,0,15.83,0.585,0,1,c,h,1.500,0,0,2,1,1,100,0,+
26,0,47,13.000,0,1,i,bb,5.165,0,0,9,0,1,0,0,+
27,1,56.58,18.500,0,1,d,bb,15.000,0,0,17,0,1,0,0,+
28,1,57.42,8.500,0,1,e,h,7.000,0,0,3,1,1,0,0,+
29,1,42.08,1.040,0,1,w,v,5.000,0,0,6,0,1,500,10000,+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660,1,22.25,9.000,0,1,aa,v,0.085,1,1,0,1,1,0,0,-
661,1,29.83,3.500,0,1,c,v,0.165,1,1,0,1,1,216,0,-
662,0,23.5,1.500,0,1,w,v,0.875,1,1,0,0,1,160,0,-
663,1,32.08,4.000,1,0,cc,v,1.500,1,1,0,0,1,120,0,-
664,1,31.08,1.500,1,0,w,v,0.040,1,1,0,1,1,160,0,-
665,1,31.83,0.040,1,0,m,v,0.040,1,1,0,1,1,0,0,-
666,0,21.75,11.750,0,1,c,v,0.250,1,1,0,0,1,180,0,-
667,0,17.92,0.540,0,1,c,v,1.750,1,0,1,0,1,80,5,-
668,1,30.33,0.500,0,1,d,h,0.085,1,1,0,0,1,252,0,-
669,1,51.83,2.040,1,0,ff,ff,1.500,1,1,0,1,1,120,1,-
670,1,47.17,5.835,0,1,w,v,5.500,1,1,0,1,1,465,150,-
671,1,25.83,12.835,0,1,cc,v,0.500,1,1,0,1,1,0,2,-
672,0,50.25,0.835,0,1,aa,v,0.500,1,1,0,0,1,240,117,-
673,?,29.5,2.000,1,0,e,h,2.000,1,1,0,1,1,256,17,-
674,0,37.33,2.500,0,1,i,h,0.210,1,1,0,1,1,260,246,-
675,0,41.58,1.040,0,1,aa,v,0.665,1,1,0,1,1,240,237,-
676,0,30.58,10.665,0,1,q,h,0.085,1,0,12,0,1,129,3,-
677,1,19.42,7.250,0,1,m,v,0.040,1,0,1,1,1,100,1,-
678,0,17.92,10.210,0,1,ff,ff,0.000,1,1,0,1,1,0,50,-
679,0,20.08,1.250,0,1,c,v,0.000,1,1,0,1,1,0,0,-
680,1,19.5,0.290,0,1,k,v,0.290,1,1,0,1,1,280,364,-
681,1,27.83,1.000,1,0,d,h,3.000,1,1,0,1,1,176,537,-
682,1,17.08,3.290,0,1,i,v,0.335,1,1,0,0,1,140,2,-
683,1,36.42,0.750,1,0,d,v,0.585,1,1,0,1,1,240,3,-
684,1,40.58,3.290,0,1,m,v,3.500,1,1,0,0,1,400,0,-
685,1,21.08,10.085,1,0,e,h,1.250,1,1,0,1,1,260,0,-
686,0,22.67,0.750,0,1,c,v,2.000,1,0,2,0,1,200,394,-
687,0,25.25,13.500,1,0,ff,ff,2.000,1,0,1,0,1,200,1,-
688,1,17.92,0.205,0,1,aa,v,0.040,1,1,0,1,1,280,750,-
689,1,35,3.375,0,1,c,h,8.290,1,1,0,0,1,0,0,-

In [66]:
df = df.replace('?',np.NaN)

In [68]:
# This will replace the NaN with the above column value
df = df.fillna(method='ffill')
print(df.count())
df.tail(20)

Male              690
Age               690
Debt              690
Married           690
BankCustomer      690
EducationLevel    690
Ethnicity         690
YearsEmployed     690
PriorDefault      690
Employed          690
CreditScore       690
DriversLicense    690
Citizen           690
ZipCode           690
Income            690
Approved          690
dtype: int64

,Male,Age,Debt,Married,BankCustomer,EducationLevel,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,Approved
670,b,47.17,5.835,u,g,w,v,5.500,f,f,0,f,g,465,150,-
671,b,25.83,12.835,u,g,cc,v,0.500,f,f,0,f,g,0,2,-
672,a,50.25,0.835,u,g,aa,v,0.500,f,f,0,t,g,240,117,-
673,a,29.5,2.000,y,p,e,h,2.000,f,f,0,f,g,256,17,-
674,a,37.33,2.500,u,g,i,h,0.210,f,f,0,f,g,260,246,-
675,a,41.58,1.040,u,g,aa,v,0.665,f,f,0,f,g,240,237,-
676,a,30.58,10.665,u,g,q,h,0.085,f,t,12,t,g,129,3,-
677,b,19.42,7.250,u,g,m,v,0.040,f,t,1,f,g,100,1,-
678,a,17.92,10.210,u,g,ff,ff,0.000,f,f,0,f,g,0,50,-
679,a,20.08,1.250,u,g,c,v,0.000,f,f,0,f,g,0,0,-
680,b,19.5,0.290,u,g,k,v,0.290,f,f,0,f,g,280,364,-
681,b,27.83,1.000,y,p,d,h,3.000,f,f,0,f,g,176,537,-
682,b,17.08,3.290,u,g,i,v,0.335,f,f,0,t,g,140,2,-
683,b,36.42,0.750,y,p,d,v,0.585,f,f,0,f,g,240,3,-
684,b,40.58,3.290,u,g,m,v,3.500,f,f,0,t,s,400,0,-
685,b,21.08,10.085,y,p,e,h,1.250,f,f,0,f,g,260,0,-
686,a,22.67,0.750,u,g,c,v,2.000,f,t,2,t,g,200,394,-
687,a,25.25,13.500,y,p,ff,ff,2.000,f,t,1,t,g,200,1,-
688,b,17.92,0.205,u,g,aa,v,0.040,f,f,0,f,g,280,750,-
689,b,35,3.375,u,g,c,h,8.290,f,f,0,t,g,0,0,-

In [69]:
df.columns

Index(['Male', 'Age', 'Debt', 'Married', 'BankCustomer', 'EducationLevel',
       'Ethnicity', 'YearsEmployed', 'PriorDefault', 'Employed', 'CreditScore',
       'DriversLicense', 'Citizen', 'ZipCode', 'Income', 'Approved'],
      dtype='object')

In [70]:
#Import Label encoder to convert object 
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
df['Male']= label_encoder.fit_transform(df['Male'])

label_encoder = preprocessing.LabelEncoder()
df['Married']= label_encoder.fit_transform(df['Married'])

label_encoder = preprocessing.LabelEncoder()
df['EducationLevel']= label_encoder.fit_transform(df['EducationLevel'])

label_encoder = preprocessing.LabelEncoder()
df['Ethnicity']= label_encoder.fit_transform(df['Ethnicity'])

label_encoder = preprocessing.LabelEncoder()
df['PriorDefault']= label_encoder.fit_transform(df['PriorDefault'])

label_encoder = preprocessing.LabelEncoder()
df['Employed']= label_encoder.fit_transform(df['Employed'])

label_encoder = preprocessing.LabelEncoder()
df['DriversLicense']= label_encoder.fit_transform(df['DriversLicense'])

label_encoder = preprocessing.LabelEncoder()
df['Citizen']= label_encoder.fit_transform(df['Citizen'])

label_encoder = preprocessing.LabelEncoder()
df['BankCustomer']= label_encoder.fit_transform(df['BankCustomer'])

label_encoder = preprocessing.LabelEncoder()
df['Approved']= label_encoder.fit_transform(df['Approved'])

In [71]:
print(df.count())
df.head(20)

Male              690
Age               690
Debt              690
Married           690
BankCustomer      690
EducationLevel    690
Ethnicity         690
YearsEmployed     690
PriorDefault      690
Employed          690
CreditScore       690
DriversLicense    690
Citizen           690
ZipCode           690
Income            690
Approved          690
dtype: int64

,Male,Age,Debt,Married,BankCustomer,EducationLevel,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,Approved
0,1,30.83,0.000,1,0,12,7,1.250,1,1,1,0,0,202,0,0
1,0,58.67,4.460,1,0,10,3,3.040,1,1,6,0,0,43,560,0
2,0,24.5,0.500,1,0,10,3,1.500,1,0,0,0,0,280,824,0
3,1,27.83,1.540,1,0,12,7,3.750,1,1,5,1,0,100,3,0
4,1,20.17,5.625,1,0,12,7,1.710,1,0,0,0,2,120,0,0
5,1,32.08,4.000,1,0,9,7,2.500,1,0,0,1,0,360,0,0
6,1,33.17,1.040,1,0,11,3,6.500,1,0,0,1,0,164,31285,0
7,0,22.92,11.585,1,0,2,7,0.040,1,0,0,0,0,80,1349,0
8,1,54.42,0.500,2,2,8,3,3.960,1,0,0,0,0,180,314,0
9,1,42.5,4.915,2,2,12,7,3.165,1,0,0,1,0,52,1442,0
10,1,22.08,0.830,1,0,1,3,2.165,0,0,0,1,0,128,0,0
11,1,29.92,1.835,1,0,1,3,4.335,1,0,0,0,0,260,200,0
12,0,38.25,6.000,1,0,8,7,1.000,1,0,0,1,0,0,0,0
13,1,48.08,6.040,1,0,8,7,0.040,0,0,0,0,0,0,2690,0
14,0,45.83,10.500,1,0,10,7,5.000,1,1,7,1,0,0,0,0
15,1,36.67,4.415,2,2,8,7,0.250,1,1,10,1,0,320,0,0
16,1,28.25,0.875,1,0,9,7,0.960,1,1,3,1,0,396,0,0
17,0,23.25,5.875,1,0,10,7,3.170,1,1,10,0,0,120,245,0
18,1,21.83,0.250,1,0,3,3,0.665,1,0,0,1,0,0,0,0
19,0,19.17,8.585,1,0,2,3,0.750,1,1,7,0,0,96,0,0

In [85]:
# Drop coulmns from a data frame in pandas
df1 = df.drop(['ZipCode', 'DriversLicense',], axis=1)

In [86]:
# Creating new vRIABLE FOR input features and labels

#X = df["Male","Age","Debt","Married","BankCustomer","EducationLevel","Ethnicity","YearsEmployed","PriorDefault","Employed","CreditScore","Citizen","Income"]
from sklearn.model_selection import train_test_split
y = df1["Approved"]
X = df1.drop(['Approved'], axis=1)
# Splitting the data into training and testing set

X_train, X_test, y_train, y_test = train_test_split(X,
                                                   y,
                                                   test_size = 0.2,
                                                   random_state = 123)
X.shape

(690, 13)

In [87]:
# Import MinMax Scaler
from sklearn.preprocessing import MinMaxScaler

# Scaling X_train and X_test
scaler =  MinMaxScaler(feature_range=(0, 1))
rescaledX_train = scaler.fit_transform(X_train)
rescaledX_test = scaler.transform(X_test)

In [88]:
rescaledX = scaler.transform(X)

In [98]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
rf = RandomForestClassifier(n_estimators=500)
rf.fit(rescaledX_train,y_train)
y_pred = rf.predict(rescaledX_test)
print("Random Forest Classifier has accuracy of: ",rf.score(rescaledX_test,y_test))
confusion_matrix(y_test,y_pred)

Random Forest Classifier has accuracy of:  0.8695652173913043

array([[48, 14],
       [ 4, 72]], dtype=int64)

In [99]:
X_train.shape , X_test.shape , y_test.shape , y_train.shape

((552, 13), (138, 13), (138,), (552,))

In [101]:
# Import logisticRegression
from sklearn.linear_model import LogisticRegression

# Fitting logistic regression with default parameter values
LogisticRegression = LogisticRegression()
LogisticRegression.fit(rescaledX_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [105]:
LogisticRegression.score(rescaledX_test,y_test)

0.8695652173913043

In [108]:
y_pred = LogisticRegression.predict(rescaledX_test)
y_pred

array([1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0,
       1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0,
       1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1,
       0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1,
       0, 1, 1, 1, 0, 1], dtype=int64)

In [109]:
df1 = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df1

     Actual  Predicted
399       1          1
250       0          0
396       1          1
192       0          0
602       1          1
230       0          0
655       1          1
188       0          0
413       1          1
172       0          0
689       1          1
545       1          0
159       0          0
43        0          0
196       0          0
132       0          0
547       0          0
464       1          1
209       0          0
11        0          0
182       0          0
349       1          1
645       1          1
217       0          0
162       0          0
107       1          0
540       1          1
536       1          0
270       0          1
680       1          1
..      ...        ...
631       1          1
314       1          1
641       1          1
593       0          1
268       0          0
307       1          1
453       1          1
311       1          1
5         0          0
316       1          1
254       1          1
511       0          0
664       1          1
531       1          0
508       0          0
282       1          1
592       0          1
151       0          0
516       0          0
649       1          1
134       0          0
246       0          0
336       1          1
272       1          1
31        0          0
297       1          1
642       1          1
331       1          1
599       0          0
320       0          1

[138 rows x 2 columns]

In [110]:
# Import Confusion matrix
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

#Using the trained model to predict instances from the test set
y_pred = LogisticRegression.predict(rescaledX_test)

# Getting the accuracy score of predictive model
print("Logistic Regression classifier has accuracy of: ", LogisticRegression.score(rescaledX_test,y_test))

#Evaluate the confusion Matrix
confusion_matrix(y_test, y_pred)

Logistic Regression classifier has accuracy of:  0.8695652173913043

array([[54,  8],
       [10, 66]], dtype=int64)

In [111]:
print(classification_report(y_test,y_pred))

             precision    recall  f1-score   support

          0       0.84      0.87      0.86        62
          1       0.89      0.87      0.88        76

avg / total       0.87      0.87      0.87       138

In [ ]:
# Precision = [66/66+8] ,recall = [66/66+10] ,f1-score = [2*precision*Recall/Precision+Recall]